.navbar-fixed
  nav.transparent(role="navigation")
    .nav-wrapper.container
      a.brand-logo(id="logo-container" href="#")
        img(src="img/logo.png" alt="logo")
    //-  
      ul.right.hide-on-med-and-down
        li
          a(href="#") Navbar Link
  
      ul#nav-mobile.side-nav
        li
          a(href="#") Navbar Link
  
      a.button-collapse.grey-text(href="#" data-activates="nav-mobile")
        i.mdi-navigation-menu
